@import "tailwindcss";

/* VARIABLES */
:root {
  --primary-blue: #1f6fb2;
  --primary-orange: #f7931e;
  --header-height: 70px;   /* 🔥 change as per design */
  --gradient-header: linear-gradient(90deg, #1f6fb2, #f7931e);
}
/* NORMAL CSS (NO @apply) */
body {
  background: #f9fafb;
  color: #1f2937;
}